/* Universal */
html,
body {
  height: 100%;
  width: 100%;
  /* color: #4d4e53; */
  /* background-color: #ffffff; */
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.5;
}
#navbar {
  position: fixed;
  width: 200px;
  height: 100%;
  margin: 10px;
  overflow: scroll;
  border-right: 1px solid;
}
#navbar header {
  font-weight: 700;
  font-size:1.7em;
}

#navbar ul {
  list-style-type: none;
  padding: 10px 0px;
}

#navbar li {
  padding: 10px;
}

#navbar a {
  display: block;
  color: #4a4c52;
  text-decoration: none;
}

#navbar a:hover {
  color: rgb(255, 9, 255);
}

#main-doc {
  position: absolute;
  left: 15%;
  top: 5%;
  padding: 5%;
  width: 75%;
}

a {
  cursor: pointer;
}

header {
  font-weight: 500;
  font-size: 1.5em;
}

.rectangle_img img {
  float: right;
  margin: 5px;
  width: 320px;
}

.main-section {
  clear: both; /* this is to clear the use of float on the rectangle img */
}

.intro p {
  text-align: justify;
}

pre {
  display: block;
  /* text-align: left; */
  white-space: pre-line;
  position: relative;
  /* word-break: normal; */
  /* word-wrap: normal; */
  line-height: 2;
  /* background-color: #f7f7f7; */
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 1100px) {
  /* For mobile phones: */
  #navbar ul {
    /* border: 1px solid; */
    height: 207px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0 5%;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
    width: 90%;
    left: 0px;
  }
}


/* Misc CSS for document examples */

.button {
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0px 5px;
  text-align: center;
  margin: 20px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  width: 220px;
}
 
.button:hover {
  cursor: pointer;
}
 
.button:active {
  margin-top: 5px;
  color: white;
  box-shadow: 0px 0px;
  background-color: #4a4c52;
}


.button2 {
  border: 1px solid blue;
  background-color: blue;
  color: white;
  text-decoration: none;
  margin: 20px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  width: 220px;
  font-family: 'Oswald',sans-serif;
  font-size: 18px;
  text-align: center;
}

.button2:hover {
  background-color: blueviolet;
}

.button2:active {
  background-color: rgb(152, 242, 18);
  color: black;
}

.breadcrumb > li {
  display: inline;
}

.breadcrumb li+li::before {
	padding: 10px;
  content: "\26F7";
}

.breadcrumb a {
  text-decoration: none;
  color: blue;
  font-size: 1.2em;
}

.breadcrumb a:hover {
  color: magenta;
}

#grid_image {
  width: 75%;
}

.explanation_container {
  display: flex;
}

.box {
  flex: 1;
}

/* Misc */

.line_gradient {
  height: 30px;
  width: 50%;
  padding: 5px;
  color: white;
  background-image: linear-gradient(359deg, #3023ae, #eb7f7b);
}