body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-family: san-serif;
  font-size: 2em;
}


.wrapper {
  display: grid;
  width: 100%;
  height: 700px;
  text-align: center;
  justify-items: stretch;
  grid-template: repeat(4, 1fr) / repeat(6, 1fr);

  grid-template-areas:
    "a c c c c d"
    "a c c c c e"
    "b c c c c e"
    "b c c c c e";
  
  gap: 5px 10px;
}

.wrapper div {
  background-color: palevioletred;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.item1 {
  grid-area: a;
}

.item2 {
  grid-area: b;
}

.item3 {
  grid-area: c;
}

.item4 {
  grid-area: d;
}

.item5 {
  grid-area: e;
}
